<div class="apply-leave-wrapper">
    <h2 class="form-title">Apply for Leave</h2>
  <div class="form-content">
    <form [formGroup]="leaveForm" (submit)="applyLeave()" class="apply-leave-form">
      <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input id="startDate" formControlName="startDate" type="date" />
      </div>

      <div class="form-group">
        <label for="endDate">End Date:</label>
        <input id="endDate" formControlName="endDate" type="date" />
      </div>

      <div class="form-group">
        <label for="numberOfDays">Total Days:</label>
        <input id="numberOfDays" formControlName="numberOfDays" type="number" min="1"/>
      </div>

      <div class="form-group">
        <label for="reason">Reason:</label>
        <textarea id="reason" formControlName="reason" placeholder="Description"></textarea>
      </div>
      <div class="form-actions">
        <button class="apply-btn" type="submit" [disabled]="leaveForm.invalid">{{ isProcessing ? 'Applying...' : 'Apply' }}</button>
        <button class="cancelBtn" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>

    <div class="leave-credits">
      <p>Total Leave Credits:</p>
      <h3>10</h3>
    </div>
  </div>
</div>
