<div class="apply-leave-wrapper">
  <div class="form-title">Apply Leave</div>
  <div class="form-content">
    <form [formGroup]="leaveForm" (ngSubmit)="applyLeave()" class="apply-leave-form">
      <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input id="startDate" formControlName="startDate" type="date" />

        @if (leaveForm.hasError('weekendNotAllowed', 'startDate')) {
          <div class="error">Start date cannot be Saturday or Sunday</div>
        }
        @if (leaveForm.hasError('pastDateNotAllowed', 'startDate')) {
          <div class="error">Start date cannot be earlier than today</div>
        }
      </div>

      <div class="form-group">
        <label for="endDate">End Date:</label>
        <input id="endDate" formControlName="endDate" type="date" />

        @if (leaveForm.hasError('weekendNotAllowed', 'endDate')) {
          <div class="error">End date cannot be on weekends</div>
        }
        @if (leaveForm.hasError('pastDateNotAllowed', 'endDate')) {
          <div class="error">End date cannot be earlier than today</div>
        }
      </div>

      @if (leaveForm.hasError('invalidRange')) {
        <div class="form-error">End date cannot be earlier than start date</div>
      }

      <div class="form-group">
        <label for="numberOfDays">Total Days:</label>
        <input id="numberOfDays" formControlName="numberOfDays" type="number" readonly />

        @if (exceedCreditsSignal()) {
          <div class="error">You don't have enough leave credits</div>
        }
      </div>

      <div class="form-group">
        <label for="reason">Reason:</label>
        <textarea id="reason" formControlName="reason" placeholder="Description"></textarea>
      </div>

      <div class="form-actions">
        <button class="apply-btn" type="submit"
                [disabled]="leaveForm.invalid || exceedCreditsSignal()">
          {{ isProcessing ? 'Applying...' : 'Apply' }}
        </button>
        <button class="cancelBtn" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>

    <div class="leave-credits">
      <p>Total Leave Credits:</p>
      <h3>{{ credits }}</h3>
    </div>
  </div>
</div>
