
.addBtn {
  margin-top: 10px;
  text-align: left;
}

.add-btn {
  width: 200px;
  background: #FFFFF0;
  color: black;
  padding: 10px 20px;
  text-align: left;
}

.add-btn:hover {
  background: #A6B28B;
}
