.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background: #2f4050;
  color: #fff;
  padding: 1rem;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    display: none;
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background: #34495e;
  color: #fff;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;

  @media (max-width: 768px) {
    position: fixed;
    top: 56px; // header height
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;

    &.open {
      transform: translateX(0);
    }
  }

  .section {
    margin: 50px 0 20px 0;

    label {
      font-weight: 600;
      font-size: 1rem;
      display: inline-block;
      margin-bottom: 8px;
    }
  }

  .dropdown-container {
    margin-top: 15px;

    label {
      display: block;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .userSelect {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 6px;
      background-color: #fffff0;
      color: black;
      cursor: pointer;

      &:focus {
        outline: none;
        border-color: #666;
      }
    }
  }
}

.content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
