<div class="headLabel">Leave Applications</div>

<table class="employeeTable">
  <thead>
  <tr>
    <th>Applied By</th>
    <th>Manager</th>
    <th>Applied Date</th>
    <th>Start</th>
    <th>End</th>
    <th>Total days</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    @if (leaves.length === 0) {
      <tr>
        <td colspan="8" style="text-align:center; padding: 1rem;">No leave applications found.</td>
      </tr>
    } @else {
      @for (leave of leaves; track leave.id) {
        <tr>
          <td>{{ leave.name }}</td>
          <td>{{ leave.manager }}</td>
          <td>{{ leave.dateApplied }}</td>
          <td>{{ leave.startDate }}</td>
          <td>{{ leave.endDate }}</td>
          <td>{{ leave.numberOfDays }}</td>
          <td>
            <span class="status"
                  [ngClass]="leave.status.toLowerCase()">
              {{ leave.status }}
            </span>
          </td>

          <td>
            <button mat-button color="primary" (click)="approve(leave.id)">Approve</button>
            <button mat-button color="warn" (click)="reject(leave.id)">Reject</button>
          </td>
        </tr>
      }
    }
  </tbody>
</table>

<app-paginator
  [length]="totalCount || 0"
  [pageIndex]="pageNumber ? pageNumber - 1 : 0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  (pageChange)="onPageChange($event)">
</app-paginator>
