<div class="headLabel">All Employees</div>

<div class="btnRight">
  <div class="contentBtn">
    <add-button [buttonLabel]="'Add New +'" [route]="'/employee/add'"></add-button>
  </div>
</div>

<table class="employeeTable">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Role</th>
    <th>Manager</th>
    <th>Total Leave</th>
    <th>Current</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
      @for (user of users; track user.id){
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.manager }}</td>
        <td>{{ user.totalLeaveCredits }}</td>
        <td>{{ user.remainingLeaveCredits }}</td>
        <td>
          <button [routerLink]="'/admin/edit-employee/' + user.id">Edit</button>
        </td>
      </tr>
    }
  </tbody>
</table>

<app-paginator
  [length]="totalUserCount || 0"
  [pageIndex]="pageNumber ? pageNumber - 1 : 0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  (pageChange)="onPageChange($event)">
</app-paginator>
