<aside class="sidebar" [class.closed]="!open">

  <div class="user-select">
    <label>CURRENT USER</label>
    <select [(ngModel)]="selectedId" (change)="onChange()">
      <option [ngValue]="null">— Select user —</option>
      @for (u of usersDropdown; track u.id) {
        <option [ngValue]="u.id">
          {{ u.name }} ({{ u.role }})
        </option>
      } @empty {
        <option disabled>— No users found —</option>
      }
    </select>
  </div>


  @if (currentUser?.role == "HR") {
    <label class="section-label">HR</label>
    <nav class="nav">
      <add-button [buttonLabel]="'Manage Employees'" [route]="'/admin/view-employees'"></add-button>
      <add-button [buttonLabel]="'Leave Requests'" [route]="'/admin/view-leaves'"></add-button>
      <add-button [buttonLabel]="'Leave History'" [route]="'/admin/leave-history'"></add-button>
    </nav>
  } @else if(currentUser?.role == "MANAGER") {
    <label class="section-label">MANAGER</label>
    <nav class="nav">
      <add-button [buttonLabel]="'Apply Leave'" [route]="'/manager/apply-leave'"></add-button>
      <add-button [buttonLabel]="'My Leaves'" [route]="'/manager/my-leave'"></add-button>
      <add-button [buttonLabel]="'Employee Leaves'" [route]="'/manager/leave'"></add-button>
      <add-button [buttonLabel]="'Leave History'" [route]="'/manager/leave-history'"></add-button>
    </nav>
  } @else {
    <label class="section-label">EMPLOYEE</label>
    <nav class="nav">
      <add-button [buttonLabel]="'Apply Leave'" [route]="'/employee/apply-leave'"></add-button>
      <add-button [buttonLabel]="'My Leaves'" [route]="'/employee/view-leaves'"></add-button>
    </nav>
  }
</aside>
