<aside class="sidebar" [class.open]="open">
  <div class="sd-content">
    <div class="dropdown-container">
      <label for="roleSelect">Role</label>
      <select id="roleSelect" class="userSelect" [(ngModel)]="selectedRole">
        <option value="admin">Admin</option>
        <option value="manager">Manager</option>
        <option value="employee">Employee</option>
      </select>
    </div>

    <div class="section">
      <label>Employee</label>
      <add-button [buttonLabel]="'View All'" [route]="'/employee'"></add-button>
      <add-button [buttonLabel]="'Add Employee'" [route]="'/employee/add'"></add-button>
    </div>

    <div class="section">
      <label>Leaves</label>
      <add-button [buttonLabel]="'View All'" [route]="'/employee/all-leaves'"></add-button>
    </div>
  </div>
</aside>
