<aside class="sidebar" [class.closed]="!open">

  <label>Current User</label>
  <select [(ngModel)]="selectedId" (change)="onChange()">
    <option [ngValue]="null">— Select user —</option>
    @for (u of usersDropdown; track u.id) {
      <option [ngValue]="u.id">
        {{ u.name }} ({{ u.role }})
      </option>
    } @empty {
      <option disabled>— No users found —</option>
    }
  </select>

  @if (currentUser?.role == "HR") {
    <label class="section-label">HR</label>
    <nav class="nav">
      <add-button [buttonLabel]="'View All'" [route]="'/admin/view-employees'"></add-button>
      <add-button [buttonLabel]="'Add Employee'" [route]="'/admin/add-employee'"></add-button>
      <add-button [buttonLabel]="'View All Leaves'" [route]="'/admin/view-leaves'"></add-button>
    </nav>
  } @else if(currentUser?.role == "MANAGER") {
    <label class="section-label">MANAGER</label>
    <nav class="nav">
      <add-button [buttonLabel]="'Apply'" [route]="'/manager/apply-leave'"></add-button>
      <add-button [buttonLabel]="'My Leaves'" [route]="'/manager/my-leave'"></add-button>
      <add-button [buttonLabel]="'View All'" [route]="'/manager/leave'"></add-button>
    </nav>
  } @else {
    <label class="section-label">EMPLOYEE</label>
    <nav class="nav">
      <add-button [buttonLabel]="'Apply'" [route]="'/employee/apply-leave'"></add-button>
      <add-button [buttonLabel]="'My Leaves'" [route]="'/employee/view-leaves'"></add-button>
    </nav>
  }
</aside>
