<div class="headLabel">All Leaves</div>

<div class="btnRight">
  <div class="contentBtn">
    <add-button [buttonLabel]="'Add New +'" [route]="'/employee/add'"></add-button>
  </div>
</div>

<table class="employeeTable">
  <thead>
  <tr>
    <th>Applied By</th>
    <th>Manager</th>
    <th>Applied Date</th>
    <th>Start</th>
    <th>End</th>
    <th>Total days</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let leave of leaves">
    <td>{{ leave.name}}</td>
    <td>{{ leave.manager }}</td>
    <td>{{ leave.dateApplied }}</td>
    <td>{{ leave.startDate }}</td>
    <td>{{ leave.endDate }}</td>
    <td>{{ leave.numberOfDays }}</td>
    <td>{{ leave.status }}</td>
  </tr>
  <tr *ngIf="leaves?.length === 0">
    <td colspan="6" style="text-align:center; padding: 1rem;">No leave applications found.</td>
  </tr>
  </tbody>
</table>
